body {
  background-image: url(mar-sol.jpg);
  background-size: cover;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.card {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background: rgba(0, 0, 0, 0);
  border: outset;
}
.container {
  margin-top: 24px;
}

.answer {
  text-align: left;
  font-size: 44px;
  margin-left: 16px;
}

h2 {
  text-align: left;
  font-size: 30px;
  margin-left: 32px;
}

h3 {
  text-align: right;
  font-size: 40px;
  margin-right: 16px;
}

.days {
  text-align: left;
  font-size: 20px;
  padding-left: 10px;
}
.temperature {
  text-align: right;
  font-size: 20px;
}
.footPageLink {
  text-align: center;
  font-size: 15px;
}
